<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Forecast.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Forecast.Properties.Settings.ConnectionString" connectionString="Data Source=|DataDirectory|\DB\Indicators.sdf"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <userSettings>
        <Forecast.Properties.Settings>
            <setting name="OTS_days" serializeAs="String">
                <value>https://analytics-service.client.getshopster.net/report_api/query_report/dev/outdoor_ad_spaces_ots_distibution_hours_of_day_weekdays/?input_parameters={"access_token": "911b55e6-5d44-4e71-8566-d3ed41dd1aa4","outdoor_ad_space_ids":[132430],"main_date_range":["startDate","endDate"],"region_id": 4}</value>
            </setting>
            <setting name="OTS_holi" serializeAs="String">
                <value>https://analytics-service.client.getshopster.net/report_api/query_report/dev/outdoor_ad_spaces_ots_distibution_hours_of_day_weekends/?input_parameters={"access_token": "911b55e6-5d44-4e71-8566-d3ed41dd1aa4","outdoor_ad_space_ids":[132430],"main_date_range":["startDate","endDate"],"region_id": 4}</value>
            </setting>
        </Forecast.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
